<div class=" shadow rounded" id="<%= dom_id flat %>">
  <div class="bg-light p-3 border-bottom">
    <div class="fs-3 fw-bolder">
      <%= flat.name %>
    </div>
    <p>
      <%= flat.address %>
    </p>
    <div class="d-flex p-1 ">
      <div class="m-1">
        <i class="fa-solid fa-users"></i>
        <%= flat.number_of_guests %>
      </div>
      <div class="m-1">
        <i class="fa-solid fa-dollar-sign"></i>
        <%= flat.price_per_night %>
      </div>
    </div>
  </div>
  <div class="bg-white p-3">
    <%= link_to "More Info", flat, class: "text-decoration-none" %>
  </div>

</div>
